db.sqlite3
*/migrations/
venv/
.idea/
__pycache__/
*/__pycache__/
/Documentation/*
!/Documentation/_build
/Documentation/_build/.doctrees
/FSE_CDA/Test/http_requests/RESPONSE
/FSE_CDA/Documentazione/
#/FSE_CDA/Test/
