.class {
    border-bottom: 3px solid darkgrey;
    padding-bottom: 10px;
    padding-top: 10px;
}

.table-wrapper {
    margin: 0px !important;
    padding: 0px !important;
}

table {
    width: 100% !important;
}

dd button{
 display:flex;
 top:0.4em;
}

article .align-left {
    margin: 0px !important;
}